@font-face {
    font-family: 'Poppins-Black';
    src: url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Black.eot'); 
    src: url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Black.woff2') format('woff2'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Black.woff') format('woff'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/poppins-Black.ttf')  format('truetype'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Black.svg#svgFontName') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins-Bold';
    src: url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Bold.eot'); 
    src: url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Bold.woff2') format('woff2'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Bold.woff') format('woff'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/poppins-Bold.ttf')  format('truetype'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Bold.svg#svgFontName') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Regular.eot'); 
    src: url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Regular.woff2') format('woff2'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Regular.woff') format('woff'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/poppins-Regular.ttf')  format('truetype'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Regular.svg#svgFontName') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Medium.eot'); 
    src: url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Medium.woff2') format('woff2'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Medium.woff') format('woff'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/poppins--Medium.ttf')  format('truetype'), 
         url('https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/fonts/Poppins-Medium.svg#svgFontName') format('svg');
    font-weight: 500;
    font-style: normal;
}


html, body {
    padding: 0;
    margin: 0;
    background-image: url("https://d143cj5zpjuqvu.cloudfront.net/projects/viami/assets/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    user-select: none;
    font-family: "Poppins", sans-serif;
}

.header {
    text-align: center; 
    padding: 10px; 
    color: white;
}

.content {
    font-family: Arial, sans-serif; 
    text-align: justify; 
    margin: 0 auto; 
    padding: 0 0 250px 0;

    @media screen and (max-width: 700px){
        padding: 0;
    }
}

.content2 {
    font-family: Arial, sans-serif; 
    text-align: justify; 
    margin: 0 auto; 
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em 0 2em;
    background-color: rgba(0, 0, 0, 0.4); 
    text-align: center; 
    color: white; 
    position: absolute;
    width: 100%;
    margin-top: auto;
    bottom: 0;

    @media screen and (max-width: 450px){
        font-size: 3.8vw;
    }

    @media screen and (max-width: 700px){
        position: relative;
        padding: 1em 0 0 0;
    }
}

.footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em 0 2em;
    background-color: rgba(0, 0, 0, 0.4); 
    text-align: center; 
    color: white; 
    position: relative;
    width: 100%;
    margin-top: auto;
    bottom: 0;

    @media screen and (max-width: 450px){
        font-size: 3.8vw;
    }

    @media screen and (max-width: 700px){
        padding: 1em 0 0 0;
    }
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 700px){
        justify-content: center;
        flex-direction:  column;
    }
}

.footer-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 701px) and (max-width: 800px){
        width: 50%;
    }

    @media screen and (max-width: 700px){
        width: 100%;
    }
}

.footer-right img{
    width: 150px; 
    height: auto;
    margin-bottom: 1em;

    @media screen and (max-width: 700px){
        width: 100px;
    }
}

.header img {
    width: 150px; 
    height: auto;

    @media screen and (max-width: 450px){
        width: 120px; 
    }
}

.footer-left {
    width: 40%;
    
    @media screen and (min-width: 701px) and (max-width: 800px){
        width: 50%;
    }

    @media screen and (max-width: 700px){
        width: 100%;
    }
}

.content-inside {
    padding: 10px 2em 20px 2em; 
    text-align: justify;
    margin: 0 auto 2em auto;
}

li {
    text-align: left;
}

a {
    color: white;
}

.email {
    color: black;
}

.footer-text {
    width: 70%;

    @media screen and (max-width: 800px){
        width: 80%;
    }

    @media screen and (max-width: 450px){
        width: 90%;
    }
}

h1 {
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;

    @media screen and (max-width: 450px){
        font-size: 6vw;
    }
}

h3 {
    font-family: "Poppins-Bold", sans-serif;
}

.center {
    text-align: center;
}

.btn {
    background-color: #0081CF;
    margin: auto; 
    color: white; 
    border-radius: 10px; 
    border: 1px solid #0081CF; 
    padding: 10px 20px; 
    font-weight: bold; 
    cursor: pointer;
    font-family: "Poppins-Bold", sans-serif;

    @media screen and (max-width: 450px){
        font-size: 3.8vw;
    }
}

.form-header {
    background-color: #0081CF;
    width: 100%;
    max-width: 600px;
    padding: 1em 0;
    text-align: center;
    margin: 1em auto 0 auto;
    color: white;
    border: 2px solid #0081CF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @media screen and (max-width: 450px){
        font-size: 3.8vw;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #0081CF;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 2em auto;
    padding: 3em 0 5em 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media screen and (max-width: 650px){
        max-width: 400px;
    }
}

.form-input {
    text-align: center;

    @media screen and (max-width: 650px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.8vw;
    }
}

.flex-row input{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 0.5em 0.5em;

    @media screen and (max-width: 450px){
        font-size: 3.8vw;
    }
}

.flex-row img{
    width: 25px;
    margin: 0;
    padding: 0.5em 0.5em;
}

.toggle-password {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    font-family: "Poppins", sans-serif;

    @media screen and (max-width: 450px){
        font-size: 4.5vw;
    }
}

.bold {
    font-family: "Poppins-Medium", sans-serif;
}   